{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'imagenes/logo.png' %}" alt="Logo" style="height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                {% if user.usuario.tipo_usuario == 'administrador' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Panel de administrador</a>
                </li>
            {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'imagenes' %}">Imágenes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'agregar_imagen' %}">Agregar Imagen</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link text-muted">{{ user.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="{% url 'registro' %}">Registrarse</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
